@page {
  size: a4;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: var(--full-width);
  height: var(--full-height);
  position: relative;
  font-family: "Open Sans", sans-serif; 
  color: var(--color-text);
}

html * {
  box-sizing: border-box;
}

html {
  background-color: #555555;
}

body {
  background-color: var(--color-background);
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: var(--full-width);
    height: var(--full-height);
  }
}
