@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Chose colors for the scheme */
:root {
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --timeline-line-color: var(--color-dark-grey);
}

/* Spacing, Widths, Heights */
:root {
  --sidebar-width: calc(0.3 * var(--full-width));
  --footer-height: 60pt;
  --page-width: calc(var(--full-width) - var(--sidebar-width));
  --page-height: calc(var(--full-height) - var(--footer-height));
  --page-padding: 24pt;

  --font-size-h2: 18pt;

  --timeline-decorator-radius: 6pt;
  --timeline-decorator-border: 2pt;
  /* Font-Awesome declares its icon width as 1.25em - We set it explicitely to stay aligned over changes to FA */
  --timeline-icon-width: calc(1.25 * var(--font-size-h2));
  --timeline-line-thickness: 1.5pt;
  --timeline-style: var(--timeline-line-thickness) solid var(--timeline-line-color);
  --timeline-padding: 15pt;
  --timeline-stage-spacing: 12pt;
  --timeline-section-spacing: 12pt;
  --timeline-years-width: 36pt;
  --timeline-heading-inset: calc(var(--timeline-years-width) - (0.5 * var(--timeline-icon-width)));

  --stage-title-size: 15pt;

  --portrait-size: calc(0.8 * var(--sidebar-width));
}

@page {
  size: a4;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: var(--full-width);
  height: var(--full-height);
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);
}

html * {
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
}

body {
  background-color: var(--color-background);
}

.page h2 {
  position: relative;
  padding-left: var(--timeline-heading-inset);
  margin-bottom: 0;
}

.page h2 i {
  width: var(--timeline-icon-width);
}

.page .stage {
  position: relative;
}

.page .stage ul {
  margin: 0;
  padding-left: 1em;
  padding-top: 0.25em;
}

.page .stage .details {
  position: relative;
  left: var(--timeline-years-width);
  border-left: var(--timeline-style);
  padding-left: var(--timeline-padding);
  width: calc(100% - var(--timeline-years-width));
}

.page .stage .years {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--timeline-years-width);
}

.page .stage .years,
.page .stage .details {
  padding-top: var(--timeline-stage-spacing);
}

/* The dot on the timeline is just a pseudo-element with a black background and white border. */
.page .stage-title::before {
  --full-size: calc(2 * var(--timeline-decorator-radius));
  display: block;
  content: ' ';
  width: var(--full-size);
  height: var(--full-size);
  position: absolute;
  background-color: var(--timeline-line-color);
  border-radius: 100%;
  border: var(--timeline-decorator-border) solid var(--color-background);
  box-sizing: border-box;
  top: calc((var(--stage-title-size) - var(--full-size)) / 2);
  left: calc(-1 * (
    var(--timeline-padding) +
    var(--timeline-decorator-radius) +
    0.5 * var(--timeline-line-thickness)
  ));
}

.years span {
  display: block;
  text-align: right;
  padding-right: var(--timeline-padding);
}

.years > * {
  position: relative;
}

/* Adds the line between 'from' and 'to' */
.years .from::before {
  --thickness: 1.5pt;
  display: block;
  box-sizing: content-box;
  content: ' ';
  border-right: var(--thickness) solid var(--color-text);
  width: 50%;
  height: 1em;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: 1em;
}

.page {
  position: relative;
  left: 0;
  top: 0;
  width: var(--page-width);
  height: var(--page-height);
  padding: var(--page-padding);
}

.signature {
  width: var(--page-width);
  text-align: right;
  padding: 0 var(--page-padding) var(--page-padding) var(--page-padding);
  position: absolute;
  bottom: 0;
  overflow-y: visible;
}

.signature .location-date {
  display: inline-block;
  margin-right: 2em;
}

.signature img {
  max-width: 15em;
  max-height: calc(var(--footer-height) - var(--page-padding));
}


.title-section {
  margin-bottom: 2em;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  letter-spacing: 0;
}

.statement {
  margin: 0 0 1em 0;
  text-align: justify;
}

.page h2 {
  text-transform: uppercase;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stage-title {
  margin: 0;
  font-weight: bold;
  position: relative;
}

table.scored-ability td {
  padding-right: 0.5em;
}

/*
 * Same line-height for stage-title and corresponding year.
 * This ensures they are vertically aligned.
 */
.stage-title,
.years span {
  line-height: var(--stage-title-size);
}

.sidebar h3 {
  margin-bottom: 0.3em;
}

.sidebar section {
  margin-top: 1em;
}

address {
  font-style: normal;
}

.portrait {
  text-align: center;
}

.portrait img {
  width: var(--portrait-size);
  height: var(--portrait-size);
  border-radius: 100%;
}

a {
  color: inherit;
  text-decoration: 1pt dotted underline;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: var(--full-width);
    height: var(--full-height);
  }
}
