@page {
  size: a4;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: var(--full-width);
  height: var(--full-height);
  position: relative;
  font-family: "Open Sans", sans-serif; 
  color: var(--color-text);
}

html * {
  box-sizing: border-box;
}

:root {
  --full-width: 210mm;
  --full-height: 297mm;
  --sidebar-width: calc(0.3 * var(--full-width));
  --page-width: calc(var(--full-width) - var(--sidebar-width));
  --color-text: #000000;
  --color-primary: #019edb;
  --color-on-primary: #ffffff;
  --color-background: #ffffff;

  --timeline-decorator-radius: 8px;
  --timeline-decorator-border: 3px;
  --timeline-icon-width: 30px;
  --timeline-line-thickness: 2px;
  --timeline-line-color: #333;
  --timeline-style: var(--timeline-line-thickness) solid var(--timeline-line-color);
  --timeline-padding: 20px;
  --timeline-stage-spacing: 1em;
  --timeline-section-spacing: 2em;
  --timeline-years-width: 48px;
  --timeline-heading-inset: calc(var(--timeline-years-width) - (0.5 * var(--timeline-icon-width)));

  --stage-title-size: 20px;
}

.page h2 {
  position: relative;
  padding-left: var(--timeline-heading-inset);
  margin-bottom: 0;
}

.page .stage {
  position: relative;
}

.page .stage .details {
  position: relative;
  left: var(--timeline-years-width);
  border-left: var(--timeline-style);
  padding-left: var(--timeline-padding);
  width: calc(100% - var(--timeline-years-width));
}

.page .stage .years {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--timeline-years-width);
}

/*
 * Apply padding to each stage except for the last one in one section.
 * The last one uses a margin, so the border painting the timeline looks better.
*/
.page .stage .years,
.page .stage .details {
  padding-top: var(--timeline-stage-spacing);
  padding-bottom: var(--timeline-stage-spacing);
}
.page .stage:last-of-type .details,
.page .stage:last-of-type .years {
  padding-bottom: 0;
}
.page .stage:last-of-type {
  margin-bottom: var(--timeline-section-spacing);
}

/* The dot on the timeline is just a pseudo-element with a black background and white border. */
.page .stage-title::before {
  --full-size: calc(2 * var(--timeline-decorator-radius));
  display: block;
  content: ' ';
  width: var(--full-size);
  height: var(--full-size);
  position: absolute;
  background-color: var(--timeline-line-color);
  border-radius: 100%;
  border: var(--timeline-decorator-border) solid var(--color-background);
  box-sizing: border-box;
  top: calc((var(--stage-title-size) - var(--full-size)) / 2);
  left: calc(-1 * (
    var(--timeline-padding) +
    var(--timeline-decorator-radius) +
    0.5 * var(--timeline-line-thickness)
  ));
}

.years span {
  display: block;
  text-align: right;
  padding-right: var(--timeline-padding);
}

.years > * {
  position: relative;
}

/* Adds the line between 'from' and 'to' */
.years .from::before {
  --thickness: 2px;
  display: block;
  box-sizing: content-box;
  content: ' ';
  border-right: var(--thickness) solid var(--color-text);
  width: 50%;
  height: 1em;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: 1em;
}

.page {
  position: relative;
  left: 0;
  top: 0;
  width: var(--page-width);
  height: var(--full-height);
  background-color: var(--color-background);
  padding: 1em;
}

.page .stage ul {
  margin: 0;
  padding-left: 1em;
  padding-top: 0.25em;
}

.name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.statement {
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

.title-section {
  padding: 0 1em;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

.stage-title {
  margin: 0;
  font-weight: bold;
  position: relative;
}

/*
 * Same line-height for stage-title and corresponding year.
 * This ensures they are vertically aligned.
 */
.stage-title,
.years span {
  line-height: var(--stage-title-size);
}

/* Add a dotted border on page boundaries. Not visible in print export. */
.noprint-borders {
  display: none;
}
@media screen {
  .noprint-borders {
    display: block;
    position: absolute;
    border: 1px dotted black;
    width: calc(var(--full-width) + 2px);
    height: calc(var(--full-height) + 2px);
    top: -1px;
    left: -1px;
    z-index: -1;
  }
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: var(--full-width);
    height: var(--full-height);
  }
}
