@page {
  size: a4;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: var(--full-width);
  height: var(--full-height);
  position: relative;
  font-family: "Open Sans", sans-serif; 
}

html * {
  box-sizing: border-box;
}

:root {
  --full-width: 210mm;
  --full-height: 297mm;
  --sidebar-width: calc(0.3 * var(--full-width));
  --page-width: calc(var(--full-width) - var(--sidebar-width));
  --color-primary: #00adad;
  --color-background: #ffffff;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--sidebar-width);
  height: var(--full-height);
  background-color: var(--color-primary);
  padding: 1em;
}

.page {
  position: relative;
  left: 0;
  top: 0;
  width: var(--page-width);
  height: var(--full-height);
  background-color: var(--color-background);
  padding: 1em;
}

h1.name {
  margin-top: 0;
}

h2 {
  text-transform: uppercase;
}

.title-sec {
  padding: 0 1em;
}

.noprint-borders {
  display: none;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

@media screen {
  .noprint-borders {
    display: block;
    position: absolute;
    border: 1px dotted black;
    width: calc(var(--full-width) + 2px);
    height: calc(var(--full-height) + 2px);
    top: -1px;
    left: -1px;
    z-index: -1;
  }
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
    width: var(--full-width);
    height: var(--full-height);
  }
}
